<section class="section">
  <div class="container">
    <h2 class="title-section">Постоянные клиенты</h2>
    <ul class="list logo-list">
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="44.27" height="49.23">
            <use href="./images/logos/logo-sprite.svg#logo-1" class="logo1-icon"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="44" height="52">
            <use href="./images/logos/logo-sprite.svg#logo-2" class="logo2-icon"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="41" height="42.6">
            <use href="./images/logos/logo-sprite.svg#logo-3" class="logo3-icon"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="79.66" height="42.02">
            <use href="./images/logos/logo-sprite.svg#logo-4" class="logo4-icon"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="59" height="47">
            <use href="./images/logos/logo-sprite.svg#logo-5" class="logo5-icon"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="#" class="logo-link">
          <svg class="logo-svg" width="88.48" height="45.44">
            <use href="./images/logos/logo-sprite.svg#logo-6" class="logo6-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>