<footer>
  <div class="container footer-container">
    <!-- <div class="footer-tablet-up"> -->
      <div class="footer-left">
        <a href="./index.html" class="logo logo-footer">Web <span class="logofooter-cell">Studio</span></a>
        <address>
          <ul class="list footer-address-list">
            <li class="footer-address-item">
              <p class="address">г. Киев, пр-т Леси Украинки, 26</p>
            </li>
            <li class="footer-address-item"><a href="mailto:info@devstudio.com" class="footer-contact">info@devstudio.com</a>
            </li>
            <li class="footer-address-item"><a href="tel:+380961111111" class="footer-contact">+38 096 111 11 11</a></li>
          </ul>
        </address>
        </div>
        <div class="footer-center">
          <p class="footer-title title-reset">присоединяйтесь</p>
          <ul class="list social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" aria-label="Ссылка на Инстаграм" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-instagram"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Твиттер" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-twitter"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Фейсбук" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на ЛинкидИн" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <div class="footer-right">
      <p class="footer-title title-reset">Подпишитесь на рассылку</p>
      <form class="form-footer">
        <input type="text" name="email" placeholder="E-mail" class="footer-input" />
        <button class="button submit">Подписаться</button>
        <!-- <input type="submit" value="Подписаться" class="button submit icon"> -->
      </form>
    </div>
  </div>
</footer>