<div class="backdrop is-hidden-temp" data-backdrop>
  <div class="modal">
    <button class="close" data-close-modal>
      <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 1.10786L9.89214 0L5.5 4.39214L1.10786 0L0 1.10786L4.39214 5.5L0 9.89214L1.10786 11L5.5 6.60786L9.89214 11L11 9.89214L6.60786 5.5L11 1.10786Z" />
      </svg>
    </button>
    <p class="modal-title">Оставьте свои данные, мы вам перезвоним</p>
    <form action="#" method="POST" class="form-modal">
      <div class="form-field">
        <input name="name" type="text" id="name" class="form-input" placeholder=" " />
        <label for="name" class="form-label">Имя</label>
        <svg class="form-icon" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6 6C7.6575 6 9 4.6575 9 3C9 1.3425 7.6575 0 6 0C4.3425 0 3 1.3425 3 3C3 4.6575 4.3425 6 6 6ZM6 7.5C3.9975 7.5 0 8.505 0 10.5V11.25C0 11.6625 0.3375 12 0.75 12H11.25C11.6625 12 12 11.6625 12 11.25V10.5C12 8.505 8.0025 7.5 6 7.5Z" />
        </svg>
      </div>
      <div class="form-field">
        <input name="tel" type="tel" id="tel" class="form-input" placeholder=" " />
        <label for="tel" class="form-label">Телефон</label>
        <svg class="form-icon" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.9958 9.12256L10.1576 8.91269C9.7162 8.86203 9.28199 9.01401 8.97081 9.32519L7.63924 10.6568C5.59123 9.61466 3.91229 7.94296 2.8702 5.8877L4.209 4.54888C4.52018 4.2377 4.67216 3.80349 4.6215 3.36205L4.41163 1.53836C4.32479 0.807445 3.70966 0.257446 2.97151 0.257446H1.71955C0.90179 0.257446 0.221532 0.937708 0.27219 1.75547C0.655739 7.93572 5.59847 12.8712 11.7714 13.2548C12.5892 13.3054 13.2695 12.6252 13.2695 11.8074V10.5555C13.2767 9.82453 12.7267 9.2094 11.9958 9.12256Z" />
        </svg>
      </div>
      <div class="form-field">
        <input name="email" type="email" id="email" class="form-input" placeholder=" " />
        <label for="email" class="form-label">Почта</label>
        <svg class="form-icon" width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14 0H2C1.175 0 0.5075 0.675 0.5075 1.5L0.5 10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5C15.5 0.675 14.825 0 14 0ZM13.7 3.1875L8.3975 6.5025C8.1575 6.6525 7.8425 6.6525 7.6025 6.5025L2.3 3.1875C2.1125 3.0675 2 2.865 2 2.6475C2 2.145 2.5475 1.845 2.975 2.1075L8 5.25L13.025 2.1075C13.4525 1.845 14 2.145 14 2.6475C14 2.865 13.8875 3.0675 13.7 3.1875Z" />
        </svg>
      </div>
      <div class="form-field">
        <!-- <label for="comment" class="form-label">Комментарий</label> -->
        <textarea name="comment" id="comment" rows="3" cols="35" name="text" class="form-textarea form-input"
          placeholder="Комментарий"></textarea>
      </div>
      <label for="condition" class="check option">Соглашаюсь с рассылкой и принимаю <span class="check-link">Условия
          договора</span>
        <span class="check-box"></span>
      </label>
      <button class="button modal-btn">Отправить</button>
    </form>
  </div>
</div>
<script>
  const refs = {
    openModalBtn: document.querySelector("[data-open-modal]"),
    closeModalBtn: document.querySelector("[data-close-modal]"),
    backdrop: document.querySelector("[data-backdrop]"),
  };
  refs.openModalBtn.addEventListener("click", toggleModal);
  refs.closeModalBtn.addEventListener("click", toggleModal);
  refs.backdrop.addEventListener("click", logBackdropClick);
  function toggleModal() {
    refs.backdrop.classList.toggle("is-hidden-temp");
  }
  function logBackdropClick() {
    console.log("Это клик в бекдроп");
  }
</script>