<section class="section section-products">
  <div class="container">
    <h2 class="title-section title-reset">Чем мы занимаемся</h2>
    <ul class="our-products list">
      <li class="item">
        <div class="products-position">
          <img src="./images/our-working-1.jpg" alt="Открытый ноутбук с запущенным приложением" width="370"
            class="products-img" />
          <h3 class="title-products title-reset">Десктопные приложения</h3>
        </div>
      </li>
      <li class="item">
        <div class="products-position">
          <img src="./images/our-working-2.jpg" alt="Мобильный телефон" width="370" class="products-img" />
          <h3 class="title-products title-reset">Мобильные приложения</h3>
        </div>
      </li>
      <li class="item">
        <div class="products-position">
          <img src="./images/our-working-3.jpg" alt="Монитор" width="370" class="products-img" />
          <h3 class="title-products title-reset">Дизайнерские решения</h3>
        </div>
      </li>
    </ul>
  </div>
</section>