    <main>
    <section class="section portfolio">
      <div class="container-portfolio container">
        <h1 class="is-hidden">Портфолио</h1>
        <div>
          <ul class="list filters">
            <li>
              <button type="button" class="button secondary filter-button">
                Все
              </button>
            </li>
            <li>
              <button type="button" class="button secondary filter-button">
                Веб-сайты
              </button>
            </li>
            <li>
              <button type="button" class="button secondary filter-button">
                Приложения
              </button>
            </li>
            <li>
              <button type="button" class="button secondary filter-button">
                Дизайн
              </button>
            </li>
            <li>
              <button type="button" class="button secondary filter-button">
                Маркетинг
              </button>
            </li>
          </ul>
        </div>
        <ul class="list portfolio-list">
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio1.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Технокряк</h2>
                <p class="project-group title-reset">Веб-сайт</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio2.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">
                  Постер New Orlean vs Golden Star
                </h2>
                <p class="project-group title-reset">Дизайн</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio3.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Ресторан Seafood</h2>
                <p class="project-group title-reset">Приложение</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio4.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Проект Prime</h2>
                <p class="project-group title-reset">Маркетинг</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio5.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Проект Boxes</h2>
                <p class="project-group title-reset">Приложение</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio6.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">
                  Inspiration has no Borders
                </h2>
                <p class="project-group title-reset">Веб-сайт</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio7.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">
                  Издание Limited Edition
                </h2>
                <p class="project-group title-reset">Дизайн</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio8.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Проект LAB</h2>
                <p class="project-group title-reset">Маркетинг</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="project-link">
              <div class="cover-hover">
                <img
                  src="./images/portfolio/portfolio9.jpg"
                  alt=""
                  width="370"
                  class="project-img"
                />
                <p class="cover-text title-reset">
                  Технокряк это современная площадка распространения
                  коронавируса. Компании используют эту платформу для цифрового
                  шпионажа и атак на защищённые сервера конкурентов.
                </p>
              </div>
              <div class="cart-content">
                <h2 class="project-title title-reset">Growing Business</h2>
                <p class="project-group title-reset">Приложение</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
