<section class="team section">
  <div class="container">
    <h2 class="title-section">Наша команда</h2>
    <ul class="team-list list">
      <li class="member">
        <img src="./images/team1.jpg" alt="" width="270" />
        <div class="team-content">
          <h3 lang="en" class="team-member title-reset">John Smith</h3>
          <p lang="en" class="team-text title-reset">Product Designer</p>
          <ul class="list social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" aria-label="Ссылка на Инстаграм" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Твиттер" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Фейсбук" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на ЛинкидИн" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member">
        <img src="./images/team2.jpg" alt="" width="270" />
        <div class="team-content">
          <h3 lang="en" class="team-member title-reset">Marta Stewart</h3>
          <p lang="en" class="team-text title-reset">Frontend Developer</p>
          <ul class="list social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" aria-label="Ссылка на Инстаграм" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-instagram"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Твиттер" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-twitter"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Фейсбук" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на ЛинкидИн" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member">
        <img src="./images/team3.jpg" alt="" width="270" />
        <div class="team-content">
          <h3 lang="en" class="team-member title-reset">Robert Jakis</h3>
          <p lang="en" class="team-text title-reset">Marketing</p>
          <ul class="list social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" aria-label="Ссылка на Инстаграм" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-instagram"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Твиттер" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-twitter"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Фейсбук" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на ЛинкидИн" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member">
        <img src="./images/team4.jpg" alt="" width="270" />
        <div class="team-content">
          <h3 lang="en" class="team-member title-reset">Martin Doe</h3>
          <p lang="en" class="team-text title-reset">UI Designer</p>
          <ul class="list social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" aria-label="Ссылка на Инстаграм" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-instagram"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Твиттер" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-twitter"></use>
                </svg></a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на Фейсбук" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="#" aria-label="Ссылка на ЛинкидИн" class="social-link">
                <svg class="social-icon">
                  <use href="./images/social/team-social/social-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>