.contact-list {
  // outline: 1px solid orange;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {

    justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 81px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 305px;
    align-items: center;
  }
}


.contact-item:nth-child(1) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contact-item:nth-child(2) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contact-item:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.contact-link {
  display: flex;
  color: $primary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.contact-link svg {
  margin-right: 10px;
  fill: currentColor;
}

 .contact-link:hover,
 .contact-link:focus {
   fill: $accent-color;
   color: $accent-color;
 }