.form-footer {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
@media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-right: auto;
  margin-left: auto;
}

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: start;
  }
}

.footer-input {
  padding: 12px 18px;
  max-width: 450px;
  min-width: 358px;
  border: 1px solid $border-input-email;
  box-shadow: 0 4px 4px $border-input-email-shaddow;
  border-radius: 4px;
  background-color: $footer-bg-color;
  display: block;
  text-align: left;
  box-sizing: border-box;
  

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   width: 450px;
  // }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}